@import "variables";

footer{
    display: flex;
    height: 10rem;
    margin-top: 3%;
    background-color: $color-secundario;
    justify-content: center;
    align-items: center;
    .wpp-logo{
        position: fixed;
        bottom: 20px;
        right: 20px;
        font-size: 3rem;
        height: 3rem;
        width: 3rem;
    }

    .caja-footer{
        
        width: 70%;
        height: 100%;
        display: flex;
        justify-content: space-around;
        
            .texto-footer{
                cursor: pointer;
                margin-top: 3.5%;
            }
    }
}