

*{
    font-family: 'Coiny', system-ui ;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    color: #ffffff;
    background-color:  rgb(14, 32, 58);
}

header{
    
    width: 100%;
    height: 20%;
}
.logo{
    
    display: flex;
    justify-content: center;
}
.logo img{
    cursor: pointer;
    height: 8rem;
}
.menu{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    height: 20%;
   
}
.menu-li{
    height: 4rem;
    width: 20%;
    background-color: rgb(196, 66, 6);
    display: flex;
    justify-content: center;
    align-items: center;
    
}

/* hasta aca*/

li a p {
    position: relative;
    text-decoration: none;
    color: black;
}

li a p::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -2px;
    width: 0%;
    height: 3px;
    background-color: rgb(255, 255, 255);
    transition: width 0.3s ease-in-out;
}

li a p:hover::after {
    width: 100%;
}

li a p{
    color: white;
    background-color: rgb(196, 66, 6);

}
li a{
    
    text-decoration: none;
    color: white;
    height: 40%;
    width: 70%;
    background-color: rgb(196, 66, 6);
    font-size: 1.2rem;
    display: flex;
    justify-content: space-around;
}
.div-h2{
    margin-left: 13%;
    
}
.div-h2 h2{
    display: flex;
    justify-content: center;
    background-color: rgb(196, 66, 6);
    border-radius: 25px;
    width: 15%;
    transition: 0.5s;
}
.div-h2 h2:hover{
    transform: scale(1.1);
}
.main{
    display: inline-block;
}
.main-index{
    display: flex;
    flex-wrap: wrap;
}
main{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 80%;
    margin-top: 1%;

}
.cards{
    
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    height: 100%;
    width: 80%;
    margin-left: 10%;
}

.cards-box{
    background-color: aliceblue;
    margin-top: 2%;
    height: 25rem;
    width: 20rem;

    box-shadow: 5px 4px 8px black;
    transition: 0.3s;
}
.cards-box:hover{
    transform: scale(1.06);
}

.card-img{
    width: 100%;
    height: 90%;
    

}
.card-img img{
    width: 100%;
    height: 100%;

}
.card-texto{
    width: 100%;
    height: 10%;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(196, 66, 6);

}
.card-texto p{
    background-color: rgb(196, 66, 6) ;
    color: white;
}

footer{
    height: 5rem;
    background-color: rgb(196, 66, 6);
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

footer img{
    height: 3rem;
    background-color: rgb(196, 66, 6);
}
.footer-logo{
    background-color: rgb(196, 66, 6);
    
    text-decoration: none ;
}


.container_cajas{
    gap: 2%;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    margin-top: 5%;
    width: 100%;
    height: 15rem;
}
.caja{
    text-align: center;
    width: 15rem;
    height: 10rem;
    
}
.caja i{
    font-size: 4rem;
    
}
.caja h2{
    margin-top: 5%;
    margin-left: -1%;
    font-size: 1rem;
}
.caja p{
    font-size: 1rem;
    margin-top: 3%;
}

/*REGISTRATE
-
-
-
-
-*/
.main-registro{
    background-color:  rgb(14, 32, 58);

    height: 45rem;
}
.form{
    background-color: rgb(196, 66, 6);
}
.formulario{
    background-color: rgb(196, 66, 6);
    box-shadow:  0.3rem 1rem 2rem rgb(0, 0, 0);
    height: 23rem;
    width: 25rem;
    transition: 0.8s;
}

.formulario:hover{
    transform: scale(1.1);
}

.formulario h1{
    background-color: rgb(196, 66, 6);
    font-size: 2.4rem;
    text-align: center;
    padding:  5% 0 5% 0;
    border-bottom: 1px solid rgb(255, 255, 255);
}
.formulario form{
    background-color: rgb(196, 66, 6);

    padding: 7% 5%;
    align-items: center;
}

form .username{
    background-color: rgb(196, 66, 6);

    position: relative;
    border-bottom: 3px solid rgb(255, 255, 255);
    border-left: 3px solid rgb(255, 255, 255);
    margin-bottom: 10%;
   
}

.username input{
    background-color: rgb(196, 66, 6);
    margin-left: 1%;
    border: none;
    background: none;
    outline: none;
  width: 100%;
  transition: 0.4s;

}
.username label{
    background-color: rgb(196, 66, 6);

    background: none;
    position: absolute;
    top: 2.4rem;
    left: 5px;
    color: #adadad;
    pointer-events: none;
    transform: translateY(-50%);
    transition: 0.4s;
}


.username input:focus ~label,
.username input:focus ~label{
    border: 3px solid rgb(14, 32, 58);
    
    background-color: rgb(14, 32, 58);
    top: 2.5rem;
    color: white;
}

.username input:focus,
.username input:focus{
    border-top: 3px solid rgb(255, 255, 255);
    border-right: 3px solid rgb(255, 255, 255);
}

.recordar{
    cursor: pointer;
    margin: 5% 0 5% 5%;
    background-color: rgb(196, 66, 6);
    
}
.recordar:hover{
    background-color: rgb(196, 66, 6);
    text-decoration: underline;
}

input[type="submit"]{
    width: 100%;
    height: 3rem;
    margin-bottom: 5%;
    border: none;
    border-radius: 25px;
    font-size: 1.3rem;
    cursor: pointer;
    transition: 0.2s;
}
input[type="submit"]:hover{
    border: 3px solid white;
}
.registrate{
    background-color: rgb(196, 66, 6);
}
.registrate a{
    background-color: rgb(196, 66, 6);
}


/*SOBRE NOSOTROS
-
-
-
-
-*/

.main-sobrenos{
    width: 100%;
    height: 44rem;
    
}
.caja-sobrenos{
    width: 70%;
    height: 20rem;
    background-color: rgb(196, 66, 6);
}

.caja-sobrenos h1{
    padding-top: 2%;
    padding-left: 10%;
    background-color: rgb(196, 66, 6);

}

.caja-sobrenos p{
    background-color: rgb(196, 66, 6);
    width: 90%;
    padding-left: 10%;
    
}

